body {
    background-color:cadetblue;
    font-family: Verdana, Geneva, sans-serif;
}

.container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.page-heading {
    color:bisque;
}

.recipe-item {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.cooked-recipe-image {
    width: 500;
    height: auto;
}

h2,
.recipe-item {
    color:rgb(250, 181, 96);
}

p {
    font-size: 20px;
    color: rgb(229, 229, 229);
}

ol li,
h3,
h4 {
    color:rgb(228, 186, 137);
}

h4 {
    font-size: 20px;
}

.step-image {
    width: 600px;
    height: auto;
}

ul > li {
    list-style: none;
}

li > a {
    color: inherit;
}