body {
    background-color:cadetblue;
    font-family: Verdana, Geneva, sans-serif;
}

.page-heading {
    color:bisque;
}

.recipe-link {
    font-size: 18px;
    font-weight: 600;
}

.cooked-recipe-image {
    width: 500;
    height: auto;
}

h2,
.recipe-link {
    color:rgb(250, 181, 96);
}

p {
    font-size: 20px;
    color: rgb(229, 229, 229);
}

ol li,
h3,
h4 {
    color:rgb(228, 186, 137);
}

h4 {
    font-size: 20px;
}

.step-image {
    width: 600px;
    height: auto;
}